#sign {
    border-radius: 20px;
    background-color: rgb(102, 170, 102);
    color: #fff;
    
    
}
.pest-bg{
    background-color:rgb(243, 247, 247);
}
.carousel{
    padding: 20px 40px;
}
.get-started-button{
    background-color: rgb(64, 145, 64);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color
}

    
    


