#sign {
    border-radius: 20px;
    background-color: rgb(102, 170, 102);
    color: #fff;
    
    
}
.pest-bg{
    background-color:rgb(243, 247, 247);
}
.carousel{
    padding: 20px 40px;
}
.get-started-button{
    background-color: rgb(64, 145, 64);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color
}
.cat, .cat2, .cat3, .cat4{
 padding: 10px 20px;

 
;
}
.cat1{
  border-radius: 50px text-align: overflow: ;;;
    
}
.container{
    margin-bottom: 100px;
}
.categories img{
    width: 50px;
    height: 50px;
}
.categories h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;

}
.container .categories{
border-radius: 40px 40px;

    


}
#courses h3{
    text-align: center;
    
}

#testi{
    text-align: center;
    font-size: 50px;
}
#last{
    background-color: black;
    padding: 100px 100px;
    border-radius: 20px;
}
#copy{
    text-align: center;
}

    



    
    
    



    


    




    



    
    


